body {
  color: rgba(122, 113, 113, 0.82);
  background-color: #e4e4e4;
  font-family: sans-serif;
  line-height: 1.5em;
  padding: 20px; }
  body p {
    font-size: 1em;
    font-weight: bold; }

/* What happens to comments? */
header {
  color: #000;
  width: 80%;
  padding: 16px;
  margin: 0 auto;
  background-image: linear-gradient(#a49292 0%, white 100%);
  border: 1px solid #000; }

#content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #f16251;
  padding: 20px; }
  #content p {
    color: #fff;
    font-weight: 700; }
    #content p a {
      text-decoration: none;
      color: yellow;
      -webkit-transition: all 0.9s ease;
      -moz-transition: all 0.9s ease;
      -o-transition: all 0.9s ease;
      transition: all 0.9s ease; }
      #content p a:hover {
        background-color: grey;
        color: blue; }
