body {
	color:#f00;
	background-color: #e4e4e4;
	font-family: sans-serif;
	line-height: 1.5em;
	padding: 20px;
	border:1px solid #000;
}


p {
	font-size: 2em;	
	font-weight:bold;
}

header {
	width:100%;
	padding:10px;
}